<div class="row m-3 no-gutters">
  <div class="col-md-12 mb-1">
      <div class="d-flex justify-content-between">
          <h4>Business Claims Requests</h4>
          
      </div>
      <div class="table-responsive" *ngIf="dataStatus == 'done'">
          <table class="table table-sm table-hover">
              <thead>
                  <tr>
                      <th>Business Name</th>
                      <th>Claim Date </th>
                      <th class="text-center">Actions</th>
                  </tr>
              </thead>
              <tbody *ngIf="dataList.length > 0; else noDataFound">
                  <tr *ngFor="let d of dataList; let i = index">
                     <ng-container *ngIf="d.approval_status == 'pending'">
                        <td>{{d.user.first_name}} </td>
                        <td>{{moment(d.claim_data).format(cs.DATE_TIME_FORMAT.Date)}}</td>
                        <td class=" d-flex justify-content-center">
                          <button type="button"   *ngIf="d.approval_status == 'pending'" class="sm green" (click)="acceptRequest(d.id, i)">Approved Claim</button>
                          <button type="button"  *ngIf="d.approval_status == 'pending'" class="sm red" (click)="openModal(dataModal, d.id, i)" >Reject Claim</button>
                        </td>
                     </ng-container>
                  </tr>
              </tbody>
              <ng-template #noDataFound>
                  <tbody>
                      <tr>
                          <td colspan="4">
                              <app-no-data-found></app-no-data-found>
                          </td>
                      </tr>
                  </tbody>
              </ng-template>

          </table>
      </div>
  </div>
</div>

<ng-template #dataModal>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Reject Claim</h4>
  </div>
  <div class="modal-body">
      <form [formGroup]="dataForm" (ngSubmit)="rejectRequest(dataForm, f)" #f="ngForm">
          <div class="row">
              <div class="col-md-12 mb-1">
                  <label class="mb-0">Description <span class="mendatory">*</span></label>
                  
                  <textarea formControlName="response_note" class="form-control mt-0" placeholder="Enter Description" [ngClass]="{'form-submitted': f.submitted}"></textarea>
                  <div *ngIf="ui.checkErrors(g.response_note, f)" class="errors">textarea
                      <p *ngIf="g.response_note.errors.required">Response Note is required</p>
                  </div>
              </div>
          </div>

          <button type="submit" class="red sm m-1">save</button>
          <button type="button" class="black sm ml-1" (click)="cancelButton(f)">Cancel</button>
      </form>
  </div>
</ng-template>
