<main class="inner_main container-fluid p-5">
  <section class="register_holder">
      <div class="login-container">
          <div class="row justify-content-center">
            <div class="col-md-1"></div>
                <div class="col-md-6 white-bg">
                  <div class="register_img_holder customF">
                      <div class="register_form login_form">
                          <h1 class="my-3 pb-3">Reset Password</h1>
                          <p *ngIf="codeStatus === 'expire'" class="mb-5">Password code is expired</p>
                          <form *ngIf="codeStatus ==='valid'" [formGroup]="resetPassForm" (ngSubmit)="proceedResetPass(resetPassForm, f)"#f="ngForm">
                            <input type="hidden" formControlName="code">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <input type="password" class="form-control" formControlName="new_password"
                                              aria-describedby="emailHelp" placeholder="Password"
                                              [ngClass]="{'form-submitted': f.submitted}">
                                          <div *ngIf="ui.checkErrors(g.new_password, f)" class="errors">
                                              <p *ngIf="g.new_password.errors.required">Password is required</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="password" class="form-control" formControlName="new_password_confirmation"
                                            aria-describedby="emailHelp" placeholder="Confirm Password"
                                            [ngClass]="{'form-submitted': f.submitted}">
                                        <div *ngIf="ui.checkErrors(g.new_password_confirmation, f)" class="errors">
                                            <p *ngIf="g.new_password_confirmation.errors.required">Confirm password is required</p>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-md-12 text-center">
                                      <button class="lr-major" style="background-color:#065790;">Reset</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 img-section">
              </div>
          </div>

      </div>
  </section>
</main>