.note-container{
    text-align: center;
}

.note-container span{
    margin-right: 5px;
}

.note{
    color: brown;
    font-weight: bold;
}

.no-data-container{
    padding: 10px;
    background-color: rgb(30, 198, 210);
    border-radius: 6px;
    margin-bottom: 6px;
}

a{
    font-weight: bold;
    cursor: pointer;
}