.name-custom{
    width: 20%;
}

.email-custom{
    width: 30%
}

.user-custom{
    width: 20%;
}

.action-custom{
    width:50px;
    // text-align: center;
}

.themeCol2 {
    color: orange;
  }

  .danger {
    color: red;
  }
  .playgroup{
    background-color: #DC3545; 
  }
  .center{
    background-color:#28A745; 
  }
  .student{
    background-color:#FFC107; 
  }
  .tutor{
    background-color:#17A2B8; 
  }
  .button-user{
    color: #fff;
    padding: 5px;
    font-size: 11px;
    width: 71px;
    text-align: center;
    height: 22px;
    margin-top: 2px;
  }
