<main class="inner_main container-fluid p-5">
    <h2 class="mb-3">General Guidelines</h2>

    <p class="mb-3 mt-1">AviRating allows users to contribute different kinds of content, including reviews, photos, videos, events, votes, tips, direct messages, and more. Playing nice isn’t rocket science, but just in case, we’ve put together these general guidelines. Please also read the guidelines below for specific types of content that you might contribute to the site.</p>

    <p class="mb-3">
        <b>
            PLEASE NOTE: THESE TERMS INCLUDE DISPUTE RESOLUTION PROVISIONS (SEE SECTION 13) THAT, WITH LIMITED EXCEPTIONS, REQUIRE THAT (1) CLAIMS YOU BRING AGAINST AviRating BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION, AND (2) YOU WAIVE YOUR RIGHT TO BRING OR PARTICIPATE IN ANY CLASS, GROUP, OR REPRESENTATIVE ACTION OR PROCEEDING.
        </b>
    </p>

   
    <ul class="ul-margin mb-3">
        <li>Inappropriate content: Colorful language and imagery is fine, but there's no need for threats, harassment, lewdness, hate speech, and other displays of bigotry.</li>
        <li>Conflicts of interest: Your contributions should be unbiased and objective. For example, you shouldn’t write reviews of your own business or employer, your friends’ or relatives’ business, your peers or competitors in your industry, or businesses in your networking group.</li>
        <li>Promotional content: Unless you're using your Business Owners Account to add content to your business's profile page, we generally frown upon promotional content. Let's keep the site useful for consumers and not overrun with commercial noise from every user.</li>
        <li>Relevance: Please make sure your contributions are relevant and appropriate to the forum. For example, reviews aren't the place for rants about a business's employment practices, political ideologies, extraordinary circumstances, or other matters that don't address the core of the consumer experience.</li>
        <li>Privacy: Don’t publicize other people’s private information. Please don’t post close-up photos or videos of other patrons without their permission, and please don’t post other people’s full names unless you’re referring to service providers who are commonly identified by or commonly share their own full names.</li>
        <li>Intellectual property: Don’t swipe content from other sites or users. You’re a smart cookie, so write your own reviews and take your own photos and videos, please!</li>
        <li>Demanding payment: Beyond simply asking for a refund to remedy a bad experience, you should not use removing or posting your review as a way to extract payment from a business, regardless of whether you’ve been a customer.</li>
    </ul>
    <h2>Additional Guidelines</h2>
    <p class="mt-2"><b class="label-color">Review Guidelines</b></p>
    <p>The best reviews are passionate and personal. They offer a rich narrative, a wealth of detail, and a helpful tip or two for other consumers. Here are some additional thoughts for conscientious reviewers.</p>
    <ul class="ul-margin mb-3">
        <li>Personal experience: We want to hear about your firsthand consumer experience, not what you heard from your co-worker or significant other. Try to tell your own story without resorting to broad generalizations and conclusory allegations.</li>
        <li>Accuracy: Make sure your review is factually correct. Feel free to air your opinions, but don't exaggerate or misrepresent your experience. We don't take sides when it comes to factual disputes, so we expect you to stand behind your review.</li>
        <li>Review updates: Review updates should reflect a new experience or interaction with the business. Don't tell the same old story you've already told. If you'd like to add new insight to an old experience, you can edit your review within 30 days of posting it.</li>
    </ul>
    <p><b class="label-color">Photo and Video Guidelines</b></p>
    <p>Business photos and videos should be broadly relevant to the business and reflect the typical consumer experience (e.g., what the business looks like, what the business offers, etc.).</p>
    <p  class="mb-2">If you post a photo or video that showcases a more unique personal experience with a business (e.g., your smiling group of friends at the bar, the fly in your soup), we may remove it from the photo gallery for the business, but it still may appear alongside your review if you write one about the business.</p>
    <p><b class="label-color">Ask the Community</b></p>
    We know that being able to ask and answer questions from the community about a business is extremely valuable, but as they say, with great power comes great responsibility. Here are some things to think about when interacting with other users via questions and answers.
    <ul class="ul-margin mb-3">
        <li>Be helpful: A lot of people will benefit from your questions and answers, so stick to questions that are also relevant to others, don’t ask loaded questions or make presumptions, and keep the tone civil and non-argumentative. A little humor is fine, but if you really don’t have anything meaningful to add, best not to say anything at all.</li>
        <li>Be specific: Although broad questions and generic answers may get a large response, they might not provide quality information you’re looking for. By adding more context and details into your questions/answers you’ll get more focused information and meaningful conversation. Also, keep your questions limited to the business at hand. Topics like “what is the best restaurant in town” are best discussed in Talk.</li>
        <li>Be clear: If your question isn’t easy to understand, it is less likely to receive any answers. Ensure your questions have as much detail as possible to get the best possible answers.</li>
        <li>Avoid: Answering a question with another question; this detracts from the original question and isn’t very helpful.</li>
    </ul>
    <p><b class="label-color">User Profile Guidelines</b></p>
    <p class="mb-2">Don't be shy — use your account profile to let people know who you are and what makes you tick. Users want to read reviews from people they know and trust (not those with profiles that are empty or laced with inappropriate content).</p>
    
    <p><b class="label-color">Business Account Guidelines</b></p>
    <p class="mb-2">Business representatives should be getting in on the act, too. Some words of wisdom:</p>
    <ul class="ul-margin mb-3">
        <li><b>From the Business:</b> You can use the "From the business" tab to tell people a little something special about your business. Please keep it relevant: don't use this feature to attack your competitors, reviewers, or AviRating, and don't use it to seed keywords or post special offers or promotions — we'll remove them if we see them.</li>
        <li><b>Public Comments:</b> Direct messaging is often the best way to resolve a dispute with an unhappy customer, but business representatives can also address issues publicly by posting a public comment. As with direct messaging, we ask that business representatives upload a clear photo of themselves to help personalize their message. Don’t use public comments to launch personal attacks, advertise, or offer an incentive to change a review.</li>
        <li><b>Video and Photos:</b> Videos are a great way for advertisers to promote themselves on AviRating. Be as creative as you can, but please keep it clean. We're not big fans of imagery showing violence, drug use, nudity, near nudity, or suggestive acts. Also, please don't use your video to disparage other businesses, users, or AviRating; request or solicit reviews from users; or respond to user reviews.</li>
        <li><b>Don’t ask for reviews and don’t offer to pay for them either:</b> Please don’t ask your customers to review your business on AviRating. Over time, solicited reviews create bias on your business page — a bias that savvy consumers can smell from a mile away. You should also never offer compensation (discounts and freebies count too) in exchange for reviews.</li>
    </ul>


</main>