/*Business Detail*/
.business_detail_wraper {
  margin: 50px 0;
}
.business_detail {
  background: #fff;
  padding: 30px 20px;
}
.detail_content h1 {
  font-family: "Pangram-Bold";
  font-size: 42px;
  margin-bottom: 10px;
}
.write_review {
  margin: 20px 0;
}
.write_review a {
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  padding: 12px 20px;
}
.write_review a:first-child {
  background: #0f75bc;
  color: #fff;
}
.write_review a:last-child {
  border: 1px solid #e4e5e4;
}
.detail_content_row {
  margin: 50px 0;
}
.detail_content_row h2 {
  font-size: 24px;
  font-family: "Pangram-Bold";
  margin-bottom: 20px;
}
.detail_content_row p {
  color: #898989;
  margin-bottom: 15px;
}
.business_photos {
}
.photo_col {
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
}
.photo_col img {
  border-radius: 5px;
  height: 140px;
  width: 100%;
  object-fit: cover;
}
#file_upload {
  display: none;
}
.custom_file_upload span {
  display: block;
  margin-top: 20px;
}
.custom_file_upload {
  display: block;
  padding: 35px 0px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  color: #c4c4c4;
  font-size: 14px;
}
.amenities ul {
}
.amenities ul li {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  padding: 10px 15px;
  color: #777777;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.posted_by_business {
  border-radius: 5px;
  margin-bottom: 20px;
}
.posted_by_business_img {
}
.posted_by_business_img img {
  height: 140px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.posted_by_business_content {
  padding: 10px;
  border: 1px solid #e4e5e4;
  border-top: none;
}
.posted_by_business_content h3 {
  font-family: "Pangram-Bold";
  font-size: 14px;
  margin-bottom: 5px;
}
.posted_by_business_content h4 {
  font-size: 12px;
  color: #777777;
}
.business_contact_info {
  border-radius: 5px;
  border: 1px solid #e4e5e4;
  padding: 0 15px;
}
.business_contact_info ul li {
  border-bottom: 1px solid #e4e5e4;
  padding: 20px 0;
  display: flex;
}
.business_contact_info ul li:last-child {
  border-bottom: none;
}
.business_contact_info ul li a {
  color: #0f75bc;
}
.business_contact_info ul li img {
  width: 24px;
  object-fit: contain;
}
.business_contact_info ul li span {
  margin-left: 20px;
}
.business_contact_info ul li span em {
  font-style: normal;
  color: #f43939;
}
.rating_user {
  display: flex;
  margin-bottom: 20px;
}
.rating_user_img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}
.rating_user_name {
  margin-left: 15px;
}
.rating_user_name h3 {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: "Pangram-Bold";
}
.rating_user_name h4 {
  color: #777777;
  font-size: 14px;
}
.reviews_wraper {
  max-width: 900px;
  margin: 20px 0 0 0;
}
.leave_review {
  background: #fcfcfc;
  padding: 20px;
}
.leave_review_disabled {
  pointer-events: none;
  opacity: 0.4;
}
.leave_review h2 {
  font-size: 24px;
  font-family: "Pangram-Bold";
  margin-bottom: 40px;
}
.review_block label {
  font-size: 16px;
  font-family: "Pangram-Bold";
}
.review_block textarea {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  resize: none;
  border: 1px solid #f1f1f1;
  padding: 20px;
}
.review_block textarea:focus {
  outline: none;
  border: 1px solid #0f75bc;
}
.review_block span {
  font-size: 24px;
}
.review_block button,
.review_block input[type="submit"] {
  background: #0f75bc;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  min-width: 150px;
}
.review_row {
  display: flex;
  margin: 40px 0;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 30px;
}
.reviewer_detail {
  width: 30%;
  max-width: 300px;
}
.reviewer_comments {
  width: 70%;
}
.reviewer_comments .busniess_rating {
  margin-bottom: 15px;
}
.reviewer_comments p {
  color: #898989;
  margin-bottom: 15px;
}
.review_date {
  margin: 10px;
  color: #898989;
}
.list-image {
  padding-top: 15px;
  padding-bottom: 10px;
}
.rating-container {
  display: inline-block;
  margin-left: -5px;
  margin-bottom: -9px;
}
.ribbon {
  top: 0;
  right: 16px;
  width: 86px;
  height: 24px;
  position: absolute;
  background: #065790;
  color: #fff;
}
.cursor {
  cursor: pointer;
}
.loggin-only {
  background: #ffc107;
  padding: 12px;
  color: #fff;
  border-radius: 5px;
}
.rating-container {
  display: inline-block;
  margin-left: -5px;
  margin-bottom: -9px;
}
.cursor {
  cursor: pointer;
}
.payment {
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #0f75bc;
}

.payment p {
  color: #fff;
  margin-left: 10px;
}
.claimed {
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  padding: 12px 20px;
  background: #04a28c;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 700;
}
.reply-box {
  background: #dedede;
  padding: 10px;
  border-radius: 2px;
}
.reply-box p {
  color: #000;
  margin-top: 10px;
}
.plan-icon {
  font-size: 19px;
  margin-top: 1px;
}

/* uploader css */

.images-containers-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 300px;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 10px;
  overflow-y: auto;
  padding: 8px;
  border: 1px solid #ddd;
}

.thumbnail-container {
  width: 212px;
  height: 143.6px;
  text-align: center;
}

.image-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  padding: 8px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 5px;
}

.image-thumbnail img {
  max-width: 100%;
  max-height: 100px;
  min-height: 100px;
}

.images-container .image-thumbnail {
  position: relative;
  width: 23%;
  margin: 5px 5px;
  height: fit-content;
}

.uploader-progress {
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.images-container .image-thumbnail:hover .delete-image {
  display: block;
}

.delete-image {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 12px !important;
  border: none;
  display: none;
  border-radius: 27px;
  width: 27px;
  height: 27px;
  padding: 0px;
  color: red;
  background: #0f75bc;
}

/* Loader Icon*/
.upload-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.upload-images-container .icons {
  text-align: center;
  color: #ddd;
}

.upload-images-container .icons .fas {
  font-size: 100px;
  color: var(--ap-red);
  opacity: 0.3;
}

.highlight {
  border: 2px dashed #ff040a4d;
  margin: 10px 9px;
}

image-cropper {
  max-height: 40vh;
}
.gallery-thumbs {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  width: 100%;
}
.thumbs {
  cursor: pointer;
  margin: 0 3px;
}
.thumbs img {
  width: 100px;
  height: 100px;
}
@media only screen and (max-width: 768px) {
  .gallery-thumbs {
    width: 350px;
  }
}
@media only screen and (max-width: 528px) {
  .images-container .image-thumbnail {
    width: 100%;
  }
  .business_detail {
    padding: 0px;
  }
}
@media only screen and (max-width: 425px) {
  .gallery-thumbs {
    width: 350px;
  }
}
@media only screen and (max-width: 375px) {
  .gallery-thumbs {
    width: 300px;
  }
}
@media only screen and (max-width: 320px) {
  .gallery-thumbs {
    width: 250px;
  }
}
