.custom-link-button{
    cursor: pointer;
}

.custom-input{
    border: 1px solid black;
}

.input-fields {
    display: flex;
    align-items: center;
}
.duplicate-color{
    color: #D04B4F;
}
.success-color{
    color: var(--ap-green);
}