<section class="signup_wraper p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="account_logo"><a [routerLink]="['/']"><img src="./assets/images/logo.png" class="img-fluid" alt=""></a></div>
                <h1 class="heading">Forgot Password</h1>
                
                <div class="form_holder">
                    <div class="alert alert-danger" role="alert"*ngIf="forgotError">{{forgotError}}</div>
                    <form #forgotForm="ngForm" (ngSubmit)="forgotPassword(forgotForm.form)">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="fadeIn" ngModel name="email" required placeholder="Email">
                        </div>
                        <div *ngIf="forgotForm.touched && forgotForm.controls['email'].invalid">E-mail is invalid</div>
                        
                        <div class="form-group">
                            <input type="submit" value="Login">
                        </div>
                       
                    </form>
                </div>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="graphical_img"><img src="assets/images/login-img.jpg" class="img-fluid" alt=""></div>
            </div>
        </div>
    </div>
</section>
