<h2>Listing Reviews</h2>
<div class="my_reviews"  *ngIf="dataStatus === 'done'">
    <!-- Review Block -->
    <ng-container  *ngIf="reviewsList.length > 0; else noDataFound">
        <div class="review_row" *ngFor="let m of reviewsList; let i = index">
            <div class="row">
                <div class="col-md-3">
                    <div class="my_reviews_img">
                        <a [routerLink]="['/listing/details/'+m.listing.id]"> 
                            <img [src]="api.listingSmallThumbnailUrl(m.listing.id)" class="img-fluid" alt="">
                        </a>    
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="business_review">
                        <h3>{{m.listing.title}}</h3>
                        <div class="busniess_rating">
                            <div class="flex-space-x float-left small-rating">
                            <irating  [(value)]="m.rating" [name]="'s-' +m.id" [size]="15" [readonly] = "true"></irating>
                            </div>
                            <span>({{m.rating}})</span>
                            
                        </div>
                        <div class="review_date">{{m.created_at | date:'medium'}}</div>
                        <p><app-read-more [text]="m.feedback" [maxLength]="300"></app-read-more></p>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-left">
                    <li class="page-item" *ngIf="pagination.prev_page_url != null">
                        <a class="page-link" href="javascript: void(0)" tabindex="-1" (click)="setPagination(page-1)">Previous</a>
                    </li>
                </ul>
            </nav>
        </div>
    </ng-container>
    <ng-template #noDataFound>
        <div class="review_row">
            <div class="row">
                <div class="col-md-12">
                    <app-no-data-found></app-no-data-found>
                </div>
            </div>
        </div>
    </ng-template>


</div>