input , select ,textarea {
    width: 100%;
}
label {
    margin: 0px;
    padding: 0px;
}
.box-container{
    display: flex;
}

.box-container p{
    margin: 3px;
    padding: 3px;
    border: 1px solid grey;
}

.tut-pro-photo{
    width: 85%;
    text-align: center;
}
.tut-pro-photo img{
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: 0 auto;
}
