<div class="row justify-content-center" *ngIf="FormStatus === 'done'">
    <div class="col-md-11">
        <h4 *ngIf="centerId > -1" class="mb-2 text-center font-bold">Edit Center</h4>
        <h4 *ngIf="centerId === -1" class="mb-2 text-center font-bold">Create Center Profile</h4>
        <form [formGroup]="profileFG" (ngSubmit)="save(profileFG);" #f="ngForm">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name <span class="mendatory">*</span></label>
                                <input type="text" class="form-control" formControlName="first_name" placeholder="Enter Center Name" [ngClass]="{'form-submitted': f.submitted}" />
                                <div *ngIf="ui.checkErrors(g.first_name, f)" class="errors">
                                    <p *ngIf="g.first_name.errors.required">Center Name is required</p>
                                    <p *ngIf="g.first_name.errors.maxlength">Center Name should not exceeds {{ g.first_name.errors.maxlength.requiredLength }} characters</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email <span class="mendatory">*</span></label>
                                <input type="text" class="form-control" [readonly]="centerId > 0" formControlName="email" placeholder="Enter Email Address" [ngClass]="{'form-submitted': f.submitted}" />
                                <div *ngIf="ui.checkErrors(g.email, f)" class="errors">
                                    <p *ngIf="g.email.errors.required">Email is required</p>
                                    <p *ngIf="g.email.errors.email">Please enter valid email</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>UserName <span class="mendatory">*</span></label>
                                <input type="text" class="form-control" formControlName="user_name" placeholder="Enter UserName" [readonly]="centerId > 0" [ngClass]="{'form-submitted': f.submitted}" />
                                <div *ngIf="ui.checkErrors(g.user_name, f)" class="errors">
                                    <p *ngIf="g.user_name.errors.required">Username is required</p>
                                    <p *ngIf="g.user_name.errors.maxlength">Username should not exceeds{{ g.user_name.errors.maxlength.requiredLength }} characters</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Main Contact <span class="mendatory">*</span></label>
                                <input type="text" class="form-control" formControlName="contact_1" placeholder="Main Contact" [ngClass]="{'form-submitted': f.submitted}" />
                                <div *ngIf="ui.checkErrors(g.contact_1, f)" class="errors">
                                    <p *ngIf="g.contact_1.errors.required">Main Contact is required</p>
                                    <p *ngIf="g.contact_1.errors.maxlength">Main Contact should not exceeds {{ g.contact_1.errors.maxlength.requiredLength }} characters</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Alternate Contact</label>
                                <input type="text" class="form-control" formControlName="contact_2" placeholder="Alternate Contact" [ngClass]="{'form-submitted': f.submitted}" />
                                <div *ngIf="ui.checkErrors(g.contact_2, f)" class="errors">
                                    <p *ngIf="g.contact_2.errors.required">Alternate Contact is required</p>
                                    <p *ngIf="g.contact_2.errors.maxlength">Alternate Contactshould not exceeds {{ g.contact_2.errors.maxlength.requiredLength }} characters</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Region <span class="mendatory">*</span></label>
                                <select formControlName="region_id" (change)="getDistricts($event.target.value)" [ngClass]="{'form-submitted': f.submitted}">
                                    <option disabled [value]="null">Region</option>
                                    <option *ngFor="let d of regionsList" [value]="d.id">d.name</option>
                                </select>
                                <div *ngIf="ui.checkErrors(g.region_id, f)" class="errors">
                                    <p *ngIf="g.region_id.errors.required">Level is Required</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>District <span class="mendatory">*</span></label>
                                <select formControlName="district_id" [ngClass]="{'form-submitted': f.submitted}">
                                    <option disabled [value]="null">District</option>
                                    <option *ngFor="let d of districtsList" [value]="d.id">{{d.name}}</option>
                                </select>
                                <div *ngIf="ui.checkErrors(g.district_id, f)" class="errors">
                                    <p *ngIf="g.district_id.errors.required">Destrict is Required</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Level</label>
                                <select formControlName="level_id" [ngClass]="{'form-submitted': f.submitted}">
                                    <option disabled [value]="null">Level</option>
                                    <option *ngFor="let d of educationLevelList" [value]="d.id">{{d.name}}</option>
                                </select>
                                <div *ngIf="ui.checkErrors(g.level_id, f)" class="errors">
                                    <p *ngIf="g.level_id.errors.required">Level is Required</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fee <span class="mendatory">*</span></label>
                                <input type="number" class="form-control" placeholder="Fee" formControlName="fee" [ngClass]="{'form-submitted': f.submitted}">
                                <div *ngIf="ui.checkErrors(g.fee, f)" class="errors">
                                    <p *ngIf="g.fee.errors.required">Fee # is required</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Established <span class="mendatory">*</span></label>
                                <input type="number" placeholder="Established year"  [max]="moment().year()" formControlName="established">
                                <div *ngIf="ui.checkErrors(g.established, f)" class="errors">
                                    <p *ngIf="g.established.errors.required">Established # is required</p>
                                    <p *ngIf="g.established.errors.max">Established year cant be greater then current year </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Web URL</label>
                                <input type="text" class="form-control" formControlName="web_url" placeholder="Enter Web URL" [ngClass]="{'form-submitted': f.submitted}" />
                                <div *ngIf="ui.checkErrors(g.web_url, f)" class="errors">
                                    <p *ngIf="g.web_url.errors.required">Web URL is required</p>
                                    <p *ngIf="g.web_url.errors.maxlength">Web URL should not exceeds {{ g.web_url.errors.maxlength.requiredLength }} characters</p>
                                    <p *ngIf="g.web_url.errors.pattern">Please Enter Valid URL</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address# 1 <span class="mendatory">*</span></label>
                                <input type="text" class="form-control" formControlName="address_1" placeholder="Enter Address# 1" [ngClass]="{'form-submitted': f.submitted}" />
                                <div *ngIf="ui.checkErrors(g.address_1, f)" class="errors">
                                    <p *ngIf="g.address_1.errors.required">Address # 1 is required</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address# 2</label>
                                <input type="text" class="form-control" formControlName="address_2" placeholder="Enter Address# 2" [ngClass]="{'form-submitted': f.submitted}" />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address# 3</label>
                                <input type="text" class="form-control" formControlName="address_3" placeholder="Enter Address# 3" [ngClass]="{'form-submitted': f.submitted}" />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" formControlName="description" rows="6" placeholder="Enter Description"></textarea>
                                <div *ngIf="ui.checkErrors(g.description, f)" class="errors">
                                    <p *ngIf="g.description.errors.maxlength">Description should not exceeds{{ g.description.errors.maxlength.requiredLength }} characters</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label>Locations</label>
                            <div class="box-container">
                                <p class="box" *ngFor="let d of selectedCenterData.center.teaching_locations">{{d.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="tut-pro-photo">
                        <img id="banner-img" [src]="thumbnail">
                        <input type="file" style="display: none;" id="thumbnail-image" (change)="onThumbnailChange($event, cropperModal)">
                        <button class="green sm" (click)="browseThumbnail($event)" type="button">Browse Picture</button>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button *ngIf="centerId > -1" type="submit" class="blue sm">Update</button>
                    <button *ngIf="centerId === -1" type="submit" class="blue sm">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template #cropperModal>
    <div class="modal-body">
        <ng-scrollbar class="modal-scrollbar">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrapper">
                        <h2 class="title" style="font-size: 20px;">Adjust Image Size</h2>
                        <div>
                            <button type="button" class="sm red" (click)="doneCroppingThumbnail()">Done</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="270/225" [onlyScaleDown]="true" [roundCropper]="false" format="png" outputType="base64" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()" [alignImage]="'center'">
                    </image-cropper>
                </div>
            </div>
        </ng-scrollbar>
    </div>
</ng-template>