<main class="inner_main container-fluid p-5">
    <h2 class="mb-3">Welcome to AviRating!</h2>
   
    <b>AviRating is where general aviation airport communities come to connect, build networks, exchange business recommendations, and support local businesses.</b>
    <p class="mb-3 mt-1">AviRating is where hangar neighbors borrow tools sell or request items, and get local’s advice.</p>
   
    <p class="mb-3">Exchange experiences with businesses, and provide first-hand knowledge to your community.</p>

    <p class="mb-3">  It's how to get the most out of everything from your airport community.</p>

    <b>Welcome to YOUR community!.</b>
</main>



 
