.name-custom{
    width: 20%;
}

.email-custom{
    width: 30%
}

.user-custom{
    width: 20%;
}

.action-custom{
    width: 30%;
    text-align: center;
}

.themeCol2 {
    color: orange;
  }

  .danger {
    color: red;
  }
  .inactive{
    background-color: #DC3545; 
  }
  .active{
    background-color:#28A745; 
  }
  
  .button-user{
    color: #fff;
    padding: 5px;
    font-size: 11px;
    width: 71px;
    text-align: center;
    height: 22px;
    margin-top: 2px;
  }
  .dropdown-toggle img{
      width: 17px;
      
  }